body {
    background-color:mediumpurple /*sets the background colour of website*/
}


.Vent {
    position:fixed;
    color:red;
    font-family:Rockwell;
    font-size: 150px;
    transform: translateX(280px) translateY(-5px) translate(100px, -20px);
}

.Waffle {
    position:fixed;
    color:greenyellow; /* text colour*/
    font-family: Rockwell; /* sets the text font*/
    font-size: 18px; /* sets the text size*/
    transform: translateX(280px) translateY(-5px) translate(-300px, 00px); /*sets the text position*/
}

.flexbox {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap
}

.Wuffle {
    position: fixed;
    color: greenyellow; /* text colour*/
    font-family: Rockwell; /* sets the text font*/
    font-size: 18px; /* sets the text size*/
    transform: translateX(280px) translateY(-5px) translate(-300px, 20px); /*sets the text position*/
}