.SettingsBody {
    position:relative;
    top:0px;
    background-color:white;
    z-index:65536;
    width:79.15vw;
    height:100vh;
}

.SettingsBodyItemList {
    list-style:none;
    padding: 0
}

.SettingsBodyItem {
    width:100%;
    border: 1px solid rgb(220,220,220);
    border-left:none;
    border-right:none;
    padding:15px;
    padding-top:20px;
    padding-bottom:20px;

}