@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="ScrollingImages">
        <img class="Scrollarrow left" src="~/img/Scrollarrow.png">
        <img class="ScrollImage left" src="~/img/prime.webp">
        <img class="Scrollarrow" src="~/img/Scrollarrow.png">
    </div>
</div>