@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        margin: 0;
        font-family: Rockwell; /* sets the font as Rockwell*/
    }


    .topnav a {
        transform: translateX(111px) translateY(-40px) translate(30px, 1
        0px);
        float:left;
        color:crimson;
        text-align: center;
        padding: 20px 250px;
        text-decoration: none;
        font-size: 27px;
    }

    .topnav a:hover {
        background-color:red;
        color: orangered
    }

    .topnav a.active{
        background-color:dodgerblue;
        color:lightsalmon
        
    }
</style>


<div style="padding-left:16px" >
    <div>

    </div>
    <div class="flexbox">
        <div>
            <div>
              <img src="~/CandyHearts.jpg" style="width: 20%;" />   <!-- images box -->
            </div>
            <div>
                <span class="Waffle">Lorem ipsum dolor sit amet, waffle wffle</span>
                <span class="Wuffle"> more waffle lolololol</span>
               
            </div>
        </div>
    </div>
</div>