@{
    Layout = "_SettingsLayout";
    ViewBag["Title"] = ViewBag.SettingName;
}

<div class="SettingsBody">
    <ul class="SettingsBodyItemList">
        <li class="SettingsBodyItem d-flex flex-row justify-content-between">

            <input class="" type="checkbox"/>
        </li>
    </ul>
</div>