@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>

    <style>
        body {
            background-color:slategrey;
        }
        .SettingList {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 180px;
            height: 670px;
            background-color: #f1f1f1;
        }


        .SettingItem a {
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
            font-family: OpenDyslexic3;
            font-size: 24px;
        }

        /* Change the link color on hover */
        .SettingItem a:hover {
            background-color: #555;
            color: white;
        }
    </style>
</head>
<body>


    <ul class="SettingList">
        <li class="SettingItem"><b><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></b></li>
        <li class="SettingItem"><b><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></b></li>
        <li class="SettingItem"><a href="#apperance">Appearance</a></li>
        <li class="SettingItem"><a href="#accessibility">Accessibility</a></li>
        <li class="SettingItem"><a href="#privacy&security">Privacy and Security</a></li>
        <li class="SettingItem"><a href="#paymentmethods">Payment Methods</a></li>
    </ul>




</body>
</html>



@RenderBody()