@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Settings.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

    <div class="flexbox"> 
        <ul class="SettingList">
            <li class="SettingTitle">
                <span style=";text-align:center;font-size:24px;font-family: 'Roboto'">
                    Settings
                </span>
            </li>
            <li class="SettingItem">
                <a class="nav-link SettingLink" asp-area="" asp-controller="Settings" asp-action="General">
                    <img style="width:10px;" src="~/img/svg/arrow.svg" />
                    <span>General</span>
                </a>
             </li>
             <li class="SettingItem">
                 <a class="nav-link SettingLink" asp-area="" asp-controller="Settings" asp-action="Appearance">
                    <img style="width:10px;" src="~/img/svg/arrow.svg" />
                    <span>
                        Appearance
                    </span>
                 </a>
             </li>
            <li class="SettingItem">
                <a class="nav-link SettingLink" asp-area="" asp-controller="Settings" asp-action="Appearance">
                    <img style="width:10px;" src="~/img/svg/arrow.svg" />
                    <span>
                        Appearance
                    </span>
                </a>
            </li>
            <li class="SettingItem">
                <a class="nav-link SettingLink" asp-area="" asp-controller="Settings" asp-action="Accessibility">
                    <img style="width:10px;" src="~/img/svg/arrow.svg" />
                    <span>
                        Accessibility
                    </span>
                </a>
            </li>
            <li class="SettingItem">
                <a class="nav-link SettingLink" asp-area="" asp-controller="Settings" asp-action="Privacy">
                    <img style="width:10px;" src="~/img/svg/arrow.svg" />
                    <span>
                        Privacy and Security
                    </span>
                </a>
            </li>
            <li class="SettingItem">
                <a class="nav-link SettingLink" asp-area="" asp-controller="Settings" asp-action="Payment">
                    <img style="width:10px;" src="~/img/svg/arrow.svg" />
                    <span>
                        Payment Methods
                    </span>
                </a>
            </li>
        </ul>
        <div style="position:absolute;left:400px">
            @RenderBody()
        </div>
        
    </div>
</body>
</html>



