@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag["Title"] = "Settings";
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Settings.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script>
        function showhide(id) {
            menu = document.getElementById(id);
            arrow = document.getElementById(id).childNodes.item(1);
            console.log(menu.childNodes)
            
            if (arrow.classList.contains("rotated")) {
                arrow.classList.remove("rotated")
            } else {
                arrow.classList.add("rotated")
            }
        }

    </script>
</head>
<body>

    <div class="flexbox"> 
        <ul class="SettingList">
            <li class="SettingTitle">
                <span style=";text-align:center;font-size:24px;font-family: 'Roboto'">
                    Settings
                </span>
            </li>
            <li class="SettingItem">
                <a href="#" id="SettingsLabel1" onclick="showhide(this.id)" class="nav-link SettingLink">
                    <img class="arrow" src="~/img/svg/arrow.svg" />
                    <span>General</span>
                </a>
                <ul class="hidden">
                    <li>
                        testing
                    </li>
                </ul>
             </li>
             
            <li class="SettingItem">
                <a href="#e" id="SettingsLabel2" onclick="showhide(this.id)" class="nav-link SettingLink">
                    <img class="arrow" src="~/img/svg/arrow.svg" />
                    <span>
                        Appearance
                    </span>
                </a>
            </li>
            <li class="SettingItem">
                <a href="#" id="SettingsLabel3" onclick="showhide(this.id)" class="nav-link SettingLink">
                    <img class="arrow" src="~/img/svg/arrow.svg" />
                    <span>
                        Accessibility
                    </span>
                </a>
            </li>
            <li class="SettingItem">
                <a href="#" id="SettingsLabel4" onclick="showhide(this.id)" class="nav-link SettingLink">
                    <img class="arrow" src="~/img/svg/arrow.svg" />
                    <span>
                        Privacy and Security
                    </span>
                </a>
            </li>
            <li class="SettingItem">
                <a href="#" id="SettingsLabel5" onclick="showhide(this.id)" class="nav-link SettingLink">
                    <img class="arrow" src="~/img/svg/arrow.svg" />
                    <span>
                        Payment Methods
                    </span>
                </a>
            </li>
        </ul>
        <div style="position:absolute;left:400px">
            @RenderBody()
        </div>
        
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



