@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Settings.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

    <div class="flexbox"> 
        <ul class="SettingList">
            <li class="SettingTitle">
                <span style=";text-align:center;font-size:24px;font-family: 'Roboto'">
                    Settings
                </span>
            </li>
            <li class="SettingItem">
                <a class="nav-link SettingLink" asp-area="" asp-controller="Settings" asp-action="General">
                    General
                </a>
             </li>
            <li class="SettingItem"><a class="nav-link SettingLink" asp-area="" asp-controller="Settings" asp-action="Appearance">Appearance</a></li>
            <li class="SettingItem"><a class="nav-link SettingLink" asp-area="" asp-controller="Settings" asp-action="Accessibility">Accessibility</a></li>
            <li class="SettingItem"><a class="nav-link SettingLink" asp-area="" asp-controller="Settings" asp-action="Privacy">Privacy and Security</a></li>
            <li class="SettingItem"><a class="nav-link SettingLink" asp-area="" asp-controller="Settings" asp-action="Payment">Payment Methods</a></li>
        </ul>
        <div style="position:absolute;left:400px">
            @RenderBody()
        </div>
        
    </div>
</body>
</html>



